@charset "UTF-8";

/* 프로필 사진 css */
.profile {
	position: relative;
	float: left;
	display: inline;
	/* 프로필 사진 크기 */
	width: 70px;
	height: 70px;
	margin-right: 3%;
	border-radius: 50%;
}

/* 사용자 닉네임 §공주님§ */
.nick-name {
	font-size: 15px;
	color: #6F6F6F;
}

#home-title {
	font-size: 15px;
	color: #5D5D5D;
}

.section-padding {
	padding-top: 80px;
	padding-bottom: 120px
}

.section-padding-contents {
	padding-top: 50px;
	padding-bottom: 120px
}

/* 게시물 제목 css */
/* #blog-title{
	font-size: 13px;
	color: #000000;
}*/

/* 게시물 내용 css */
/*#blog-content{
	margin-top: 1%;
	font-size: 12px;
} */

/*----- 카테고리 시작 -----*/
ul.nev {
	list-style: none;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 5%;
	width: 100%;
}

ul li.nev {
	display: inline;
	padding: 1.3%;
	font-size: 30px;
}

.rank {
	display: inline;
	padding: 1.3%;
}

.link_tab {
	color: #484848;
	font-size: 36px;
	font-family: "Noto Sans DemiLight", AppleSDGothicNeo-Regular,
		"Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	line-height: 1;
	height: 40px;
	letter-spacing: -1.2px;
}

.rt h2 {
	margin-top: 5%;
	margin-left: 16%;
	color: #000000;
	font-family: AppleSDGothicNeo-Regular;
	font-weight: bold;
	letter-spacing: -1.2px;
}

.rc {
	letter-spacing: -2px;
	margin-left: 16%;
	color: #3D3D3D;
	font-size: 22px;
	font-family: "Noto Sans DemiLight", AppleSDGothicNeo-Regular,
		"Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
	letter-spacing: -1.2px;
}
/*----- 카테고리 끝 -----*/
@font-face {
	font-family: "주아";
	src: url("../font/도담.ttf");
}

/* contents.jsp css시작 */

/* 게시된 시간, 카테고리 안보이게 */
.screen_out {
	overflow: hidden;
    line-height: 0;
}

/* 카테고리 종류, 좋아요 수, 게시된 시간 <dd> css */
.ddcss {
	/* display: block; */
    /* float: left; */
    font-size: 13px;
    line-height: 13px;
    font-family: fontARD;
    color: #909090;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

/* <a> 태그 css */
.box_desc {
	display: block;
	position: relative;
	padding: 32px 114px 28xp 0;
	text-decoration: none;
}

.box_desc_type {
	width: 896px;
	height: 142px;
	padding: 32px 0 18px;
}

/* 게시물 사진 <img> css */
.img_thumb {
	overflow: hidden;
	padding: 28px 0 1px 92px;
	display: block;
	float: right;
	position: relative;
	width: 128px;
	height: 128px;
	padding: 0;
	margin: 0 0 0 46px;
}

.thumb_g {
	width: 128px; 
	height: 128px;
	display: inline-block;
	vertical-align: top;
}

/* <div> 태그 css */
.wrap_cont {
	max-height: none;
	margin: 0;
	padding: 0;
	display: block;
}

.wrap_data {
	float: left;
	width: 159px;
	padding: 5px 0 0;
}

/* <dl> 태그 css */
.list_data {
	position: static;
	/* overflow: hidden; */
	padding: 4px 0 0;
	top: 31px;
	right: 19px;
	line-height: 22px;
	font-size: 13px;
}

/* <strong> 태그 css */
.desc_tit {
	display: block;
	/* overflow: hidden; */
	position: relative;
	max-width: 671px;
	padding: 6px 0 5px;
	font-size: 20px;
	line-height: 1;
	color: #000000;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* <p> 태그 css */
.desc_g {
	position: absolute;
	top: 72px;
	left: 158px;
	width: 564px;
	max-height: 44px;
	font-size: 14px;
	color: #777;
	line-height: 22px;
	padding: 0 0 0 1px;
	text-overflow: ellipsis;
	overflow : hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* <div> 태그 css */
.info_g {
	display: block;
	bottom: 32px;
	margin-left: 18%;
	padding: 3px 0 0 0;
	font-size: 13px;
	line-height: 14px;
	margin-top: 10%;
}

/* <span> 사용자 이미지 위 css */
wrap_thumb {
	display: block;
	float: left;
} 

/* <img> 사용자 이미지 css */
.thumb_profile {
	width: 30px;
	height: 30px;
	margin: 0;
	float: left;
	border-radius: 50px; 
}

/* <span> 사용자 닉네임 css */
.txt_id {
	display: inline-block;
	max-width: 250px;
	padding: 5px 0 0 12px;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0 0 -1px;
	color: #333;
	text-decoration: none;
}

.txt_date {
	display: inline-block;
    max-width: 138px;
    color: #333;
    padding: 2.5px 0 0 5px;
    line-height: 18px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}