<?xml version="1.0" encoding="UTF-8"?>
<!-- xsi에 있는 schemaLocation -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- WebProject 이름(생략가능함) -->
	<!-- <display-name>webapp1</display-name> -->
	<!-- 기본 페이지(생략가능) -->
	<!-- <welcome-file-list> <welcome-file>index.html</welcome-file> <welcome-file>index.htm</welcome-file> 
		<welcome-file>index.jsp</welcome-file> <welcome-file>default.html</welcome-file> 
		<welcome-file>default.htm</welcome-file> <welcome-file>default.jsp</welcome-file> 
		</welcome-file-list> -->


	<!-- ContextLoaderListener(ServletContextListner) -->
	<!-- Root WebApplicationContext(IoC 컨테이너) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<!-- 설정파일의 위치 전달해주는 파라미터명(반드시 예약된 이름 쓰기) -->
		<param-name>contextConfigLocation</param-name>
		<!-- 설정파일의 위치 -->
		<param-value>classpath:spring/root/*.xml</param-value>
	</context-param>

	<!-- DispatcherServlet 등록 -->
	<!-- WebApplicationContext(IoC 컨테이너) -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- 설정파일의 위치 전달해주는 파라미터명(반드시 예약된 이름 쓰기) -->
			<param-name>contextConfigLocation</param-name>
			<!-- 설정파일의 위치(어떤 객체를 생성하여 사용할 것인가) -->
			<param-value>classpath:spring/dispatcher/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- 문자 인코딩을 위한 필터 등록 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher
		</listener-class>
	</listener>	
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/error404.jsp</location>
	</error-page>
</web-app>